{{!-- External CSS --}}
<link rel="stylesheet" type="text/css" href="/css/admin-nav.css">

{{!-- Navbar not sign-in yet --}}
{{!-- <div class="row admin-nav">
    <div class="col-md-11 nav-col-1st">
        <div class="nav-top">
            <img class="img-logo" src="/img/general/logo.png" alt="HN News">
            <div class="line-support"></div>
        </div>
        <div class="nav-bottom">
            <div class="line-support"></div>
            <div style="height: initial;">
                ADMIN PAGE
            </div>
        </div>
    </div>
    <div class="col-md-1 nav-col-2nd">
        <div class="shadowbox-admin-nav"></div>
    </div>
</div> --}}

{{!-- Navbar sign-in already --}}
<div class="row admin-nav">
    <div class="col-md-11 nav-col-1st">
        <div class="nav-top">
            <img class="img-logo" src="/img/general/logo.png" alt="HN News">
            <div class="line-support"></div>
            <div class="row menu-bar">
                <div class="col-md-12 row-img">
                    <a href="#">
                        <img class="menu-icon active" src="/img/admin-menuicon/home.png"></a>
                </div>
                <div class="col-md-12 row-img">
                    <a href="#">
                        <img class="menu-icon" src="/img/admin-menuicon/account.png"></a>
                </div>
                <div class="col-md-12 row-img">
                    <a href="#">
                        <img class="menu-icon" src="/img/admin-menuicon/posts.png"></a>
                </div>
                <div class="col-md-12 row-img">
                    <a href="#">
                        <img class="menu-icon" src="/img/admin-menuicon/category.png"></a>
                </div>
                <div class="col-md-12 row-img">
                    <a href="#">
                        <img class="menu-icon" src="/img/admin-menuicon/tag.png"></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="line-support"></div>
            <div style="height: initial;">
                ADMIN PAGE
            </div>
        </div>
    </div>
    <div class="col-md-1 nav-col-2nd">
        <div class="shadowbox-admin-nav"></div>
    </div>
</div>