{{!-- External CSS --}}
<link rel="stylesheet" type="text/css" href="/css/admin-nav.css">

{{!-- Navbar not sign-in yet --}}
<div class="row admin-nav">
    <div class="col-md-11 nav-col-1st">
        <div class="nav-top">
            <img class="img-logo" src="/img/general/logo.png" alt="HN News">
            <div class="line-support"></div>
        </div>
        <div class="nav-bottom">
            <div class="line-support"></div>
            <div style="height: initial;">
                ADMIN PAGE
            </div>
        </div>
    </div>
    <div class="col-md-1 nav-col-2nd">
        <div class="shadowbox-admin-nav"></div>
    </div>
</div>