<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class="sub-footer"></div>
<div class="footer-main">
    <div style="text-align: center; margin-bottom:5px">
        <img src="/img/logo.png" alt="HN News" width="10%">
    </div>
    <div style="text-align: center; font-size:11px">
        <p>Toàn bản quyền thuộc công ty hnnews.hn</p>
    </div>
    <div class="row footer-content">
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">GIẢI TRÍ</li>
            <li class="footer-list">Âm nhạc</li>
            <li class="footer-list">Phim ảnh</li>
            <li class="footer-list">Trò chơi</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">GIÁO DỤC</li>
            <li class="footer-list">Đào tạo - Thi cử</li>
            <li class="footer-list">Du học</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">GIAO THÔNG</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">DU LỊCH</li>
            <li class="footer-list">Trong nước</li>
            <li class="footer-list">Ngoài nước</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">ĐỜI SỐNG</li>
            <li class="footer-list">Dinh dưỡng</li>
            <li class="footer-list">Tình yêu</li>
            <li class="footer-list">Sức khỏe</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">CÔNG NGHỆ</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">XE CỘ</li>
            <li class="footer-list ">Vinfast</li>
        </div>
        <div class="col-md resize-col-footer">
            <li class="footer-list bullet-title">THẾ GIỚI</li>
        </div>
    </div>
    <div style="text-align: center; font-size:11px">
        <p>© Copyright 2019 HNNews WorldWide. All rights reserved</p>
    </div>

</div>