{{!-- External CSS --}}
<link rel="stylesheet" type="text/css" href="/css/menu.css">

{{!-- Menu category --}}
<div class="row menu">
    <div class="col-md" style="padding-right: 5px;">
        <a href="#" class="menu-link"> GIẢI TRÍ </a>
    </div>
    <div class="col-md resize-col-menu">
        <a href="#" class="menu-link"> GIÁO DỤC </a>
    </div>
    <div class="col-md-2 resize-col-menu">
        <a href="#" class="menu-link"> GIAO THÔNG </a>
    </div>
    <div class="col-md resize-col-menu">
        <a href="#" class="menu-link"> DU LỊCH </a>
    </div>
    <div class="col-md resize-col-menu">
        <a href="#" class="menu-link"> ĐỜI SỐNG </a>
    </div>
    <div class="col-md-2 resize-col-menu">
        <a href="#" class="menu-link"> CÔNG NGHỆ </a>
    </div>
    <div class="col-md resize-col-menu">
        <a href="#" class="menu-link"> XE CỘ </a>
    </div>
    <div class="col-md" style="padding-left: 5px; text-align: right;">
        <a href="#" class="menu-link"> THẾ GIỚI </a>
    </div>
</div>

<div class="line-under-menu"></div>