{{!-- External CSS --}}
<link rel="stylesheet" type="text/css" href="/css/nav.css">
<link rel="stylesheet" type="text/css" href="/css/menu.css">

{{!-- Navbar not sign-in yet --}}
<div class="row up-nav">
    <div class="col-md-6">
        <div style="font-weight: 700;"><strong class="text-gradient">HN </strong> News</div>
    </div>
    <div class="col-md-3" id="phone-contact">
        <i class="fa fa-phone fa-rotate-90" style="font-size: 11pt"></i> 0123.456.789
    </div>
    <div class="col-md-3" id="login-register-area">
        <a href="/register" id="register-choice" class="choice-here"> Đăng ký </a>
        <a href="/login" id="login-choice" class="choice-here"> Đăng nhập </a>
    </div>
</div>

<div id="scroll-nav">
    <div class="nav-main">
        <div class="row">
            <div class="col-md-4 nav-logo">
                <a href="/"> <img id="hnnews-logo" src="/img/general/logo.png" alt="HN News"> </a>
            </div>
            <div class="col-md-8 nav-container">
                <div class="text-search">
                    <i class="fas fa-search icon-search" style="font-size: 12pt;"></i>
                    <input class="form-control search-box" type="text" placeholder="Nhập nội dung tìm kiếm..."
                        name="search" ng-model="searchItem" />
                </div>
            </div>
        </div>
    </div>

    <div class="shadowbox-nav"></div>

    {{!-- Navbar sign-in already --}}
    {{!-- <div class="row up-nav">
        <div class="col-md-9">
            <div style="font-weight: 700;"><strong class="text-gradient">HN </strong> News</div>
        </div>
        <div class="col-md-3" id="phone-contact">
            <i class="fa fa-phone fa-rotate-90" style="font-size: 11pt"></i> 0123.456.789
        </div>
    </div>

    <div class="nav-main">
        <div class="row">
            <div class="col-md-3 nav-logo">
                <img src="/img/general/logo.png" alt="HN News">
            </div>
            <div class="col-md-8 nav-container">
                <div class="text-search">
                    <i class="fas fa-search icon-search" style="font-size: 12pt;"></i>
                    <input class="form-control search-box" type="text" placeholder="Nhập nội dung tìm kiếm..."
                        name="search" ng-model="searchItem" />
                </div>
            </div>
            <div class="col-md-1 profile-col">
                <a class="form-inline profile-link" href="#">
                    <span class="sr-only">(current)</span>
                    <img class="nav-avatar" src="/img/general/avatar-default.png" alt="Ảnh đại diện">
                </a>
            </div>
        </div>
    </div>

    <div class="shadowbox-nav"></div> --}}

    {{!-- Menu category --}}
    <div class="row menu">
        <div class="col-md menu-drop" style="padding-right: 5px;">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-entertainment" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                GIẢI TRÍ
            </a>
            <div class="dropdown-menu" id="entertainment" aria-labelledby="catbtn-entertainment">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md resize-col-menu menu-drop">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-education" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                GIÁO DỤC
            </a>
            <div class="dropdown-menu" id="education" aria-labelledby="catbtn-education">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md-2 resize-col-menu menu-drop">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-traffic" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                GIAO THÔNG
            </a>
            <div class="dropdown-menu" id="traffic" aria-labelledby="catbtn-traffic">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md resize-col-menu menu-drop">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-travel" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                DU LỊCH
            </a>
            <div class="dropdown-menu" id="travel" aria-labelledby="catbtn-travel">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md resize-col-menu menu-drop">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-life" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                ĐỜI SỐNG
            </a>
            <div class="dropdown-menu" id="life" aria-labelledby="catbtn-life">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md-2 resize-col-menu menu-drop">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-technology" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                CÔNG NGHỆ
            </a>
            <div class="dropdown-menu" id="technology" aria-labelledby="catbtn-technology">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md resize-col-menu menu-drop">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-transport" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                XE CỘ
            </a>
            <div class="dropdown-menu" id="transport" aria-labelledby="catbtn-transport">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
        <div class="col-md menu-drop" style="padding-left: 5px; text-align: right;">
            <a class="dropdown-toggle menu-link" href="#" id="catbtn-world" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                THẾ GIỚI
            </a>
            <div class="dropdown-menu" id="world" aria-labelledby="catbtn-transport">
                <a class="dropdown-item" href="#">Lọn làu</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
    </div>

    <div class="line-under-menu"></div>
</div>

{{!-- JQuery 3.3.1 --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".menu-drop").hover(function () {
            $(this).children(".dropdown-menu").css("display", "block");
            $(this).children(".menu-link").css("font-weight", "700");
            $(this).children(".menu-link").css("color", "black");
        }, function () {
            $(this).children(".dropdown-menu").css("display", "none");
            $(this).children(".menu-link").css("font-weight", "500");
            $(this).children(".menu-link").css("color", "rgb(86, 86, 86)");
        });
    })
</script>