<link rel="stylesheet" type="text/css" href="/css/nav.css">


<div class="row">
    <div class="col-md-7 nav-content">
        <div><strong class="text-gradient">HN</strong> News</div>
    </div>
    <div class="col-md-2" style="text-align:right">
        <i class="fa fa-phone fa-rotate-90"></i>0981864424
    </div>
    <div class="col-md-3 " style="text-align:right; display: flex; justify-content:flex-end">
        <div style="margin-right:20px">Đăng ký</div>
        <div>Đăng nhập</div>
    </div>

</div>
<div class="nav-main">
    <div class="row">
        <div class="col-md-4 nav-logo">
            <img src="/img/logo.png" alt="HN News">
        </div>
        <div class="container col-md-8" style="line-height:80px !important">
            <div class="text-search">
                <i class="fas fa-search icon-search-in-text"></i>
                {{!-- <span class="glyphicon glyphicon-search icon-search-in-text"></span> --}}
                <input class="form-control search-input " type="text" placeholder="Search" name="search"
                    ng-model="searchItem" />
            </div>
        </div>
    </div>
</div>
<div class="sub-nav-main">

</div>

{{!-- navbar signined --}}
<div class="row">
    <div class="col-md-10 nav-content">
        <div><strong class="text-gradient">HN</strong> News</div>
    </div>
    <div class="col-md-2" style="text-align:right">
        <i class="fa fa-phone fa-rotate-90"></i>0981864424
    </div>
</div>
<div class="nav-main">
    <div class="row">
        <div class="col-md-2 nav-logo">
            <img src="/img/logo.png" alt="HN News">
        </div>
        <div class="container col-md-9" style="line-height:80px !important">
            <div class="text-search">
                <i class="fas fa-search icon-search-in-text"></i>
                {{!-- <span class="glyphicon glyphicon-search icon-search-in-text"></span> --}}
                <input class="form-control search-input " type="text" placeholder="Search" name="search"
                    ng-model="searchItem" />
            </div>
        </div>
        <div class="col-md-1 avatar-fr">
            <input class="avatar" type="image" src="/img/avatar.png" alt="profile" width="100%" >
        </div>
    </div>
</div>
<div class="sub-nav-main">

</div>
