* {
  font-family: "Comfortaa", cursive;
}

.row-margin {
  margin: 0px !important;
}

.content {
  margin: 25px 130px;
  margin-bottom: 35px;
}

.text-row {
  position: relative;
  background-image: linear-gradient(to right, rgba(224, 195, 252, 0.2) 30%, rgba(141, 176, 247, 0.2));
  /* border-radius: 10px; */
  padding: 5px 0px;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.line-left {
  position: absolute;
  left: 0;
  top: -8px;
  height: 40px;
  width: 5px;
  border-radius: 50px;
  background: -webkit-linear-gradient(top, #e0c3fc 30%, #8db1f7);
}

.title-post {
  font-size: 18px;
  font-weight: 700;
}

.post-date {
  font-size: 9pt;
  color: #868686;
  font-weight: 300;
  margin: 5px 0px;
}

.post-summary {
  color: #868686;
  font-weight: 300;
  font-size: 11pt;
}

.post-hashtag {
  font-weight: 700;
  font-size: 9pt;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.post-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-right {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #8db1f7;
  border-top: 5px;
  padding-bottom: 25px !important;
}

.line-top {
  position: absolute;
  /* top: -8px; */
  height: 5px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: linear-gradient(to right, #e0c3fc 30%, #8db1f7);
}

.title-left {
  font-size: 15pt;
  font-weight: 700;
  padding: 10px 0px 0px 10px;
  line-height: 40px;
}

.line-bottom-title {
  background-image: linear-gradient(to right, #e0c3fc 30%, #8db1f7);
  height: 2px;
  flex: 0 1 auto;
  /* margin: 5px; */
  border-radius: 1px;
  padding: 0;
}

.filter-title {
  font-size: 11pt;
  padding-left: 35px;
  padding-bottom: 8px;
}

.input-radio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px 45px;
  font-size: 10pt;
  font-weight: 500;
}

input[type=radio] {
  padding-top: 2px !important;
}

.radio-group {
  margin-bottom: 25px;
}

.radio-group:last-child {
  margin-bottom: 0px;
}

.scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 150px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.nav-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  text-align: center;
  margin: 0;
}

.page-item {
  width: 34px;
}

.page-link {
  color: black;
  border: none;
}

.page-link:hover {
  color: white;
  background-image: linear-gradient(to right, #E0C3FC 30%, #8DB1F7);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
}

.page-item.active .page-link {
  background-image: linear-gradient(to right, #E0C3FC 30%, #8DB1F7);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
}

#scroll-smooth {
  width: 100%;
  height: 116px;
  background-color: white;
  display: none;
}

.rscr-btn {
  bottom: 150px;
  right: 50px;
  cursor: pointer;
}

.postofcat-style {
  border-radius: 5px;
  width: 328px;
  height: 176px;
  overflow: hidden;
  transition: 1s ease-in-out 0s;
  -webkit-transition: 1s ease-in-out 0s;
}

.subname-postcat {
  font-weight: 700;
  font-size: 11pt;
  color: black;
  text-transform: uppercase;
  padding: 5px;
}

.subname-postcat:hover {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #8DB1F7;
}

.img-postofcat {
  overflow: hidden;
  border-radius: 5px;
}

.img-postofcat:hover img {
  transform: scale(1.2);
  border-radius: 10px;
  cursor: pointer;
}

.something:hover img {
  transform: scale(1.2);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.title-post:hover {
  cursor: pointer;
}

.title-postofcat {
  color: black;
}

.title-postofcat:hover {
  color: blue;
  text-decoration: none;
}

.viewmuch {
  color: black;
}

.viewmuch:hover {
  color: blue;
  text-decoration: none;
}

.viewmuch-pic {
  width: 145px;
  height: 75px;
  border-radius: 5px;
}

.a-tag-specialstyle {
  color: black;
  padding: 5px;
}

.a-tag-specialstyle:hover {
  color: white;
  text-decoration: none;
  background-color: #E0C3FC;
  font-weight: 700;
  border-radius: 5px;
}

.icon-ispremium {
  color: yellow;
  text-shadow: 0 0 2px rgb(182, 164, 4);
  font-size: 10pt;
  line-height: 25px;
}

.ispremium {
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2px rgb(253, 253, 253);
  z-index: 100;
}