* {
    font-family: 'Comfortaa', cursive;
}

/* container */
.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.content{
    border-radius: 10px;
    box-shadow: 0px 0px 5px #8DB1F7;
    margin: 50px 130px;
    padding: 30px;
}

.text-login{
    text-align: center;
    background: -webkit-linear-gradient(left, #E0C3FC 30% , #8DB1F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding: 5px;
    font-size: 26pt;
    /* margin-top: 50px; */
}

.line-login{
    background-image: linear-gradient(to right,#E0C3FC 30%, #8DB1F7);
    height: 3px;
    width: 40%;
    margin: 0 98px;
    
}

.text-content{
    text-align: center;
    margin-top: 21px;
    font-size: 11pt;
}

.text-content strong{
    color: black;
}

/* css login form */
.login-card {
    /* background-image: url('https://selimdoyranli.com/cdn/material-form/img/bg.jpg'); */
    /* background-size: cover; */
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    position: relative;
    /* border-radius: 5px; */
    /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    /* box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); */
    z-index: 2;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
}
.login-card:after {
    /* background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99)); */
    /* Login Card Arkaplan Rengi */
    
    /* background: -webkit-linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99)); */
    /* Login Card Arkaplan Rengi */
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.8;
    z-index: 3;
}
.login-card > form {
    z-index: 4;
    position: relative;
    padding: 0px 25px;
    width: 100%;
}

/* form başlangıç stiller ------------------------------- */

.group {
    position: relative;
    margin-bottom: 40px;
}
.group input {
    font-size: 12pt;
    /* padding: 10px 10px 10px 10px; */
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    color: black;
}
.group input:focus {
    outline: none;
    border-bottom: none;
}
/* LABEL ======================================= */

.group label {
    color: gray;
    font-size: 12pt;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    
}
/* active durum */

.group input:focus ~ label,
input:valid ~ label {
    top: -15px;
    left: -2px;
    font-size: 8pt !important;
    color: black;
}
/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background-image: linear-gradient(to right,#E0C3FC 30%, #8DB1F7);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* .bar:before {
    left: 50%;
} */
/* .bar:after {
    right: 50%;
} */
/* active durum bar */

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
    width: 100%;
}
/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 0%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active durum */

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* form animasyon ================ */

/* .input-ikon {
    font-size: 25px!important;
    position: relative;
}
.input-sifre-ikon {
    font-size: 22px!important;
    position: relative;
} */
.span-input {
    position: relative;
    top: -5px;
}
.giris-yap-buton,
.kayit-ol-buton,
.sifre-hatirlat-buton {
    /* background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99)); */
    background-image: linear-gradient(to right,#E0C3FC 30%, #8DB1F7);
    background: -webkit-linear-gradient(left, #E0C3FC 30%, #8DB1F7);
    /* background: -webkit-linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99)); */
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eee;
    /* font-family: roboto; */
    /* font-weight: 100; */
    padding: 4px;
    border-radius: 5px;
    outline: none;
    /* opacity: 0.8; */
    margin: 0px 35px;
    font-size: 12pt;
}

.giris-yap-buton:hover{
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.forget-password{
    color: rgb(60, 123, 248);
    text-align: left;
    font-size: 10pt;
}

.register{
    color: rgb(60, 123, 248);
    text-align: right;
    font-size: 10pt;
}

.register:hover, .forget-password:hover{
    text-decoration: underline;
    font-weight: bold;
}