* {
    font-family: 'Comfortaa', cursive;
}

/* container */

.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.highlight-new {
    text-align: center;
    margin: 40px 130px !important;
}

.highlight-left-text {
    color: black;
    font-size: 18pt;
    font-weight: 700;
}

.highlight-left-line-1 {
    height: 1px;
    background-color: black;
    border-radius: 20px;
    margin: 2px 100px !important;
}

.highlight-left-line-2 {
    height: 1px;
    background-color: black;
    border-radius: 20px;
    margin: 2px 70px !important;
}

.highlight-left-line-3 {
    height: 1px;
    background-color: black;
    border-radius: 20px;
    margin: 2px 110px !important;
}

.highlight-left-pic {
    width: 80%;
}

.highlight-right-pic {
    width: 737px;
    height: 250px;
    border-radius: 10px;
    transition: 1s ease-in-out 0s;
    -webkit-transition: 1s ease-in-out 0s;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.transparent {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 250px;
    width: 737px;
    border-radius: 10px;
}

.top {
    top: 5px;
    padding: 0px;
    font-size: 10pt;
}

.center {
    top: 70px;
    font-size: 20pt;
    font-weight: 700;
    color: white;
}

.bottom {
    bottom: 20px;
    padding: 0px;
    font-size: 8pt;
}

.ctn-line-under {
    height: 2px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(224, 195, 252, 0.5) 30%, rgba(141, 176, 247, 0.5));
    margin: 0px 170px !important;
}

.main-new {
    margin: 40px 130px !important;
}

.row-margin {
    margin: 0px !important;
}

.newest-post-title {
    padding: 2px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to right, #e0c3fc 30%, #8db1f7);
}

.newest-post-title-text {
    background-color: white;
    font-size: 14pt;
    font-weight: 700;
    color: black;
    padding: 8px 25px 2px 25px;
    border-radius: 4px;
    text-align: center;
}

.line-continue {
    left: -5px;
    bottom: 0px;
    position: absolute;
    background-color: #8db1f7;
    height: 2px;
    width: 100%;
}

.newest-post-content {
    margin: 10px 0px !important;
}

.newest-post-content-pic {
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
}

.content-pic-pic {
    width: 328px;
    height: 183px;
    transition: 1s ease-in-out 0s;
    -webkit-transition: 1s ease-in-out 0s;
}

.content-pic-transparent {
    width: 327.81px;
    height: 183.41px;
    position: absolute;
    top: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.content-pic-category {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: white;
    font-size: 9pt;
    font-weight: 500;
}

.content-detail-title {
    color: black;
    font-size: 14pt;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 5px;
}

.content-detail-number {
    color: #646464;
    font-size: 10pt;
    font-weight: 300;
}

.viewest-post {
    margin-top: 40px !important;
}

.viewest-post-title-text {
    background-color: white;
    font-size: 14pt;
    font-weight: 700;
    color: black;
    padding: 8px 25px 2px 25px;
    border-radius: 4px;
    text-align: center;
}

.top10-post {
    margin-top: 40px !important;
}

.top10-post-content {
    /* margin: 10px 0px !important; */
    margin-top: 20px !important;
}

.top10-post-content-detail {
    padding: 0;
    padding-right: 15px;
}

.top10-post-title-text {
    background-color: white;
    font-size: 14pt;
    font-weight: 700;
    color: black;
    padding: 8px 25px 2px 25px;
    border-radius: 4px;
    text-align: center;
}

.top10-post-content-part {
    margin-bottom: 10px !important;
}

.top10-post-content-title {
    font-size: 14pt;
    font-weight: 700;
    color: black;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.top10-post-content-pic {
    width: 100%;
    height: 188px;
    border-radius: 5px;
}

.top10-post-content-transparent {
    width: 378.38px;
    height: 188px;
    position: absolute;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.top10-post-content-category {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: white;
    font-size: 9pt;
    font-weight: 500;
}

.top10-post-content-text {
    color: black;
    font-size: 13pt;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 5px;
}

.top10-post-content-number {
    color: #646464;
    font-size: 9pt;
    font-weight: 300;
}

.line-left {
    position: absolute;
    left: 0;
    height: 30px;
    width: 5px;
    border-radius: 50px;
    background: -webkit-linear-gradient(top, #e0c3fc 30%, #8db1f7);
}

.content-right {
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #8db1f7;
    border-top: 5px;
    padding-bottom: 20px !important;
}

.line-top {
    position: absolute;
    /* top: -8px; */
    height: 5px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(to right, #e0c3fc 30%, #8db1f7);
}

.title-left {
    font-size: 15pt;
    font-weight: 700;
    padding: 10px 0px 0px 10px;
    line-height: 40px;
}

.title-left-hyperlink {
    text-decoration: none;
    color: black;
}

.title-left-hyperlink:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.line-bottom-title {
    background-image: linear-gradient(to right, #e0c3fc 30%, #8db1f7);
    height: 2px;
    flex: 0 1 auto;
    /* margin: 5px; */
    border-radius: 1px;
    padding: 0;
}

.img-hash {
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.img-hash-src-style {
    width: 82px;
    height: 82px;
    border-radius: 5px;
}

.img-hash:hover {
    text-decoration: none;
    color: black;
}

.img-hash:hover>.text-hash {
    color: blue;
}

.img-hash:hover>.img-hash-src-style {
    border: 2px solid blue;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}

.text-hash {
    margin-top: 5px;
    font-size: 10pt;
    font-weight: 700;
}

.text2-hash {
    font-size: 8pt;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.giris-yap-buton {
    background-image: linear-gradient(to right, #E0C3FC 30%, #8DB1F7);
    background: -webkit-linear-gradient(left, #E0C3FC 30%, #8DB1F7);
    position: absolute;
    left: 48px;
    bottom: -15px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    padding: 4px;
    border-radius: 6px;
    outline: none;
    /* margin: 0px 40px; */
    width: 60%;
    font-size: 10pt;
}

.giris-yap-buton:hover {
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.statistic {
    margin: 20px 300px !important;
}

.statistic-left {
    padding: 0;
    text-align: right;
}

.statistic-right {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.statistic-detail {
    margin: 0 !important;
}

.statistic-title {
    font-weight: 700;
    font-size: 13pt;
    color: black;
}

.statistic-number {
    font-weight: 400;
    font-size: 12pt;
}

.statistic-pic {
    width: 55px;
}

/* Content Pic Info */

.content-pic-info {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid white;
    border-radius: 5px;
    left: 92px;
    top: 75px;
    background-color: transparent;
}

.content-pic-info:hover {
    box-shadow: 0 0 5px #fff;
    font-weight: 700;
    text-decoration: none;
}

.content-pic-info {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: white !important;
    font-weight: 300;
}

.newest-post-content-pic:hover .content-pic-info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* Effect Hover */

.carousel-item {
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item:hover img {
    transform: scale(1.5);
    border-radius: 10px;
    cursor: pointer;
}

.newest-post-content:hover img {
    transform: scale(1.2);
    border-radius: 5px;
    cursor: pointer;
}

.newest-post-content:hover .content-pic-category {
    font-weight: 700;
}

.newest-post-content:hover .content-detail-title {
    color: blue !important;
}

.content-detail-title:hover {
    cursor: pointer;
}

.top10-post-content-pic {
    overflow: hidden;
    border-radius: 5px;
    transition: 1s ease-in-out 0s;
    -webkit-transition: 1s ease-in-out 0s;
}

.top10-post-content-part {
    overflow: hidden;
    border-radius: 5px;
}

.top10-post-content-part:hover .top10-post-content-pic {
    transform: scale(1.5);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.top10-post-content-detail:hover .top10-post-content-text {
    color: blue !important;
}

.top10-post-content-part:hover .top10-post-content-category {
    font-weight: 700;
}

.top10-post-content-text {
    cursor: pointer;
}

/* Scroll Bar (right and left) */

#scroll-smooth {
    width: 100%;
    height: 116px;
    background-color: white;
    display: none;
}

.rscr-btn {
    bottom: 250px;
    right: 50px;
    cursor: pointer;
}

.lscr-bar {
    top: 190px;
    left: 45px;
}

.lscr-img {
    width: 35px;
    height: 35px;
    margin: 5px 0px;
}

.lscr-line-between {
    height: 1px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(224, 195, 252, 0.5) 30%, rgba(141, 176, 247, 0.5));
    margin: 5px 0px;
}

.lscr {
    font-size: 8pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: black;
}

.lscr:hover {
    text-decoration: none;
}

.lscr-checked {
    background: -webkit-linear-gradient(left, #E0C3FC 30%, #8DB1F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}