<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/admin-menu.css">
    <title> HNNews :: Quản trị viên </title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin: 0;">
            <div class="col-md-1" style="padding: 0;">
                {{> admin-nav}}
            </div>
            <div class="col-md-11 content-here">
                {{!-- Topbar (Different each page here) --}}
                <div class="container">
                    <div class="row top-bar">
                        <div class="col-md-8 topbar-title">
                            <div class="topbar-title-text-1"> QUẢN LÝ </div>
                            <div class="topbar-title-text-2"> DANH SÁCH NGƯỜI DÙNG </div>
                        </div>
                        <div class="col-md-3 topbar-account">
                            <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                            <div class="topbar-account-text-2"> Quản trị viên </div>
                        </div>
                        <div class="col-md-1 topbar-avatar">
                            <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                        </div>
                    </div>
                </div>
                {{!-- Content inside --}}
                {{!-- List style --}}
                <div class="container mt-1">
                    <div class="row list-style">
                        <div class="col-md-3 list-style-flex list-style-active">
                            <div class="ls-title"> TẤT CẢ </div>
                            <div class="count"> SL: <strong class="count-bold">60</strong></div>
                        </div>
                        <div class="col-md-3 list-style-flex">
                            <div class="ls-title"> ĐỘC GIẢ </div>
                            <div class="count"> SL: <strong class="count-bold">14</strong></div>
                        </div>
                        <div class="col-md-3 list-style-flex">
                            <div class="ls-title"> PHÓNG VIÊN </div>
                            <div class="count"> SL: <strong class="count-bold">4</strong></div>
                        </div>
                        <div class="col-md-3 list-style-flex">
                            <div class="ls-title"> BIÊN TẬP VIÊN </div>
                            <div class="count"> SL: <strong class="count-bold">15</strong></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row content-inside">
                        <div class="col-md-12 account-page">
                            {{!-- Form --}}
                            <form method="POST">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> ID </th>
                                            <th> Tên đăng nhập </th>
                                            <th> Họ và tên </th>
                                            <th> Email </th>
                                            <th> NTNS </th>
                                            <th> Vai trò </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01</td>
                                            <td>thnam.itus</td>
                                            <td>Trần Hạo Nam</td>
                                            <td>thnam.itus@gmailcom</td>
                                            <td>29/12/1997</td>
                                            <td>Độc giả</td>
                                        </tr>
                                        <tr>
                                            <td>02</td>
                                            <td>thuynhien0302</td>
                                            <td>Nguyễn Thùy Nhiên</td>
                                            <td>thuynhien0302@gmailcom</td>
                                            <td>03/02/1997</td>
                                            <td>Phóng viên</td>
                                        </tr>
                                        <tr>
                                            <td>03</td>
                                            <td>buidoi22</td>
                                            <td>Bụi Thị Chợ</td>
                                            <td>buidoi22@gmailcom</td>
                                            <td>15/08/2000</td>
                                            <td>Biên tập viên</td>
                                        </tr>
                                        <tr>
                                            <td>04</td>
                                            <td>thnam.itus</td>
                                            <td>Trần Hạo Nam</td>
                                            <td>thnam.itus@gmailcom</td>
                                            <td>29/12/1997</td>
                                            <td>Độc giả</td>
                                        </tr>
                                        <tr>
                                            <td>05</td>
                                            <td>thuynhien0302</td>
                                            <td>Nguyễn Thùy Nhiên</td>
                                            <td>thuynhien0302@gmailcom</td>
                                            <td>03/02/1997</td>
                                            <td>Phóng viên</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                            {{!-- Pagination --}}
                            <nav class="nav-pagination" aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>