<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/admin-menu.css">
    <title> HNNews :: Quản trị viên </title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin: 0;">
            <div class="col-md-1" style="padding: 0;">
                {{> admin-nav}}
            </div>
            <div class="col-md-11 content-here">
                {{!-- Topbar (Different each page here) --}}
                <div class="container">
                    <div class="row top-bar">
                        <div class="col-md-8 topbar-title">
                            <div class="topbar-title-text-1"> QUẢN LÝ </div>
                            <div class="topbar-title-text-2"> DANH SÁCH NHÃN DÁN </div>
                        </div>
                        <div class="col-md-3 topbar-account">
                            <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                            <div class="topbar-account-text-2"> Quản trị viên </div>
                        </div>
                        <div class="col-md-1 topbar-avatar">
                            <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                        </div>
                    </div>
                </div>

                {{!-- Content inside --}}
                <div class="container">
                    <div class="row content-inside">
                        <div class="col-md-12 tag-page">
                            {{!-- Form --}}
                            <form method="POST">
                                <button type="button" class="btn btn-outline-success" data-toggle="collapse"> Thêm
                                </button>
                                <button type="submit" class="btn btn-outline-danger"> Xóa </button>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> Chọn </th>
                                            <th> ID </th>
                                            <th> Nhãn dán </th>
                                            <th> Số lượng bài viết </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="tagselected" value="01"></td>
                                            <td>01</td>
                                            <td>#marvel</td>
                                            <td>14</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="tagselected" value="02"></td>
                                            <td>02</td>
                                            <td>#justinbeiber</td>
                                            <td>521</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="tagselected" value="03"></td>
                                            <td>03</td>
                                            <td>#iphone</td>
                                            <td>214</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="tagselected" value="04"></td>
                                            <td>04</td>
                                            <td>#housestark</td>
                                            <td>189</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="tagselected" value="03"></td>
                                            <td>05</td>
                                            <td>#samsung</td>
                                            <td>253</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="tagselected" value="04"></td>
                                            <td>06</td>
                                            <td>#coffeehouse</td>
                                            <td>65</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                            {{!-- Pagination --}}
                            <nav class="nav-pagination" aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>