<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/admin-menu.css">
    <title> HNNews :: Quản trị viên </title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin: 0;">
            <div class="col-md-1" style="padding: 0;">
                {{> admin-nav}}
            </div>
            <div class="col-md-11 content-here">
                {{!-- Topbar (Different each page here) --}}
                <div class="container">
                    <div class="row top-bar">
                        <div class="col-md-8 topbar-title">
                            <div class="topbar-title-text-1"> QUẢN LÝ </div>
                            <div class="topbar-title-text-2"> DANH SÁCH CHUYÊN MỤC </div>
                        </div>
                        <div class="col-md-3 topbar-account">
                            <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                            <div class="topbar-account-text-2"> Quản trị viên </div>
                        </div>
                        <div class="col-md-1 topbar-avatar">
                            <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                        </div>
                    </div>
                </div>

                {{!-- Content inside --}}
                <div class="container">
                    <div class="row content-inside">
                        <div class="col-md-12 account-page">
                            {{!-- Form --}}
                            <form method="POST">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> ID </th>
                                            <th> Chuyên mục </th>
                                            <th> Số lượng bài viết </th>
                                            <th> Biên tập viên phụ trách </th>
                                            <th style="text-align: right;">
                                                <a class="btn btn-outline-success" href="javascript:''" role="button">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each category.[0]}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td>{{subcategory_name}}</td>
                                            <td>{{postvalue}}</td>
                                            <td>{{full_name}}</td>
                                            <td style="text-align: right;">
                                                <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                    href="javascript:''" role="button">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </form>

                            {{!-- Pagination --}}
                            <nav class="nav-pagination" aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- Script --}}
    <script>
        $(document).ready(function () {
            $(".img-click").click(function () {
                if ($(this).children(".menu-icon").hasClass("active") === false) {
                    $(".row-img").children("a").children(".active").removeClass("active");
                    $(this).addClass("active");
                }
            });
        })
    </script>
</body>

</html>