<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/admin-dashboard.css">
    <title> HNNews :: QTV :: Trang chủ </title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin: 0;">
            <div class="col-md-1" style="padding: 0;">
                {{> admin-nav}}
            </div>
            <div class="col-md-11 content-here">
                {{!-- Topbar (Different each page here) --}}
                <div class="row top-bar">
                    <div class="col-md-8 topbar-title">
                        TRANG CHỦ
                    </div>
                    <div class="col-md-3 topbar-account">
                        <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                        <div class="topbar-account-text-2"> Quản trị viên </div>
                    </div>
                    <div class="col-md-1 topbar-avatar">
                        <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                    </div>
                </div>

                {{!-- Content inside --}}
                <div class="row content-inside">
                    <div class="col-md-12 dashboard-page">
                        <img class="dashboard-bg" src="/img/undraw/undraw-dashboard.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>