<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/category-post-list.css">
    <title> HNNews - Bài viết chuyên mục </title>
</head>

<body>
    {{>nav}}
    {{>menu}}
    <div class="content">
        <div class="row row-margin">
            <div class="col-md-8">
                <div class="row text-row row-margin" style="padding: 8px 0px">
                    <div class="col-md-6 text-left">
                        <div class="line-left"></div>
                        <div style="font-weight:700; line-height: 24px">
                            ĐỜI SỐNG - SỨC KHỎE
                        </div>
                    </div>
                    <div class="col-md-6 text-right" style="font-size: 11pt; line-height: 24px">18.023 kết quả</div>
                </div>
                <div class="row row-margin" style="margin-top: 35px !important">
                    <div class="col-md-5" style="padding: 0">
                        <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                    </div>
                    <div class="col-md-7 post-flex">
                        <div>
                            <div class="title-post text-left">
                                Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                            </div>
                            <div class="post-date text-left">
                                01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                    THÔNG</strong>
                            </div>
                            <div class="post-summary text-left">
                                Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone.
                            </div>
                        </div>
                        <div class="post-hastag text-left">
                            #giaothong, #apple, #iphone, #tphcm
                        </div>
                    </div>
                </div>
                <div class="row row-margin" style="margin-top: 35px !important">
                    <div class="col-md-5" style="padding: 0">
                        <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                    </div>
                    <div class="col-md-7 post-flex">
                        <div>
                            <div class="title-post text-left">
                                Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                            </div>
                            <div class="post-date text-left">
                                01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                    THÔNG</strong>
                            </div>
                            <div class="post-summary text-left">
                                Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone.
                            </div>
                        </div>
                        <div class="post-hastag text-left">
                            #giaothong, #apple, #iphone, #tphcm
                        </div>
                    </div>
                </div>
                <div class="row row-margin" style="margin-top: 35px !important">
                    <div class="col-md-5" style="padding: 0">
                        <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                    </div>
                    <div class="col-md-7 post-flex">
                        <div>
                            <div class="title-post text-left">
                                Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                            </div>
                            <div class="post-date text-left">
                                01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                    THÔNG</strong>
                            </div>
                            <div class="post-summary text-left">
                                Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone.
                            </div>
                        </div>
                        <div class="post-hastag text-left">
                            #giaothong, #apple, #iphone, #tphcm
                        </div>
                    </div>
                </div>
                <div class="row row-margin" style="margin-top: 35px !important">
                    <div class="col-md-5" style="padding: 0">
                        <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                    </div>
                    <div class="col-md-7 post-flex">
                        <div>
                            <div class="title-post text-left">
                                Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                            </div>
                            <div class="post-date text-left">
                                01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                    THÔNG</strong>
                            </div>
                            <div class="post-summary text-left">
                                Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone.
                            </div>
                        </div>
                        <div class="post-hastag text-left">
                            #giaothong, #apple, #iphone, #tphcm
                        </div>
                    </div>
                </div>
                <div class="row row-margin" style="margin-top: 35px !important">
                    <div class="col-md-5" style="padding: 0">
                        <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                    </div>
                    <div class="col-md-7 post-flex">
                        <div>
                            <div class="title-post text-left">
                                Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                            </div>
                            <div class="post-date text-left">
                                01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                    THÔNG</strong>
                            </div>
                            <div class="post-summary text-left">
                                Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone.
                            </div>
                        </div>
                        <div class="post-hastag text-left">
                            #giaothong, #apple, #iphone, #tphcm
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row row-margin content-right">
                    <div class="col-md-12 line-top"></div>
                    <div class="col-md-12 title-left">XEM NHIỀU</div>
                    <div class="col-md-12 line-bottom-title"></div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin: 15px 0 !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/scroll-to-top.png" alt="" class="scroll-to-top">
    {{!-- Footer --}}
    {{>footer}}

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>