<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/detail-eachpost.css">
    <title> HNNews - Tin tức </title>
</head>

<body>
    <div class="container">
        {{!-- Navigation bar --}}
        {{> nav}}

        {{!-- Menu bar --}}
        {{> menu}}

        {{!-- Body detail --}}
        {{!-- <img src="/img/DeTailEachPost.png" width="100%"> --}}
        <div class="eachpost-main">
            <div class="row">
                <div class="col-md-6 eachpost-left">
                    <p class="eachpost-tag"> #giaothong, #apple, #iphone, #tphcm </p>
                    <p class="eachpost-title"> Hàng nghìn người đổ xô mua iPhone 5.000 VNĐ làm ùn tắc giao thông </p>
                    <p class="eachpost-category"> Chuyên mục: <span class="style-upper">GIAO THÔNG</span> </p>
                    <p class="eachpost-datetime"> 01/04/2019 - 13.135 lượt xem </p>
                </div>
                <div class="col-md-6 eachpost-right">
                    <img class="eachpost-image" src="/img/image-post.png">
                </div>
            </div>
        </div>

        <div class="row eachpost-middle">
            <div class="col-md-12 eachpost-content">
                <p class="style-default"> Trưa 13-4, theo nguồn tin của Tuổi Trẻ Online, cơ quan cảnh sát điều tra Bộ
                    Công an đã ra quyết định khởi tố bị can, lệnh bắt tạm giam, lệnh khám xét đối với Phạm Nhật Vũ,
                    nguyên chủ tịch hội đồng quản trị Công ty Nghe nhìn toàn cầu (AVG) về tội đưa hối lộ, quy định tại
                    khoản 4, điều 364 Bộ luật hình sự năm 2015.
                </p>
                <p class="style-default style-bold"> Khởi tố 4 bị can tội nhận hối lộ </p>
                <p class="style-default"> Cơ quan điều tra cũng quyết định bổ sung quyết định khởi tố bị can đối với ông
                    Nguyễn Bắc Son, Trương Minh Tuấn cùng là nguyên bộ trưởng Bộ Thông tin - truyền thông và Lê Nam Trà
                    (nguyên chủ tịch hội đồng thành viên MobiFone), Cao Duy Hải (cựu tổng giám đốc MobiFone) về tội nhận
                    hối lộ quy định tại khoản 4, điều 354 Bộ luật hình sự năm 2015.
                </p>
                <p class="style-default style-bold"> Bắt tạm giam giám đốc và nhân viên AMAX </p>
                <p class="style-default"> Cơ quan điều tra cũng khởi tố bị can, thực hiện lệnh bắt tạm giam, khám xét
                    đối với Võ Văn Mạnh, giám đốc Công ty TNHH tư vấn đầu tư và thẩm định AMAX; Hoàng Duy Quang, nhân
                    viên Công ty TNHH tư vấn đầu tư và thẩm định AMAX về tội “Vi phạm quy định về quản lý và sử dụng vốn
                    đầu tư công gây hậu quả nghiêm trọng”, quy định tại Điều 220 Bộ luật hình sự năm 2015, vai trò đồng
                    phạm.
                </p>
                <div class="row row-margin">
                    <img class="style-default eachpost-content-img" src="/img/eachpost-image.png">
                </div>
                <p class="style-default"> Mazen Kourouche, 21 tuổi, là khách hàng thường xuyên của Apple Store tại
                    Sydney. Trong 4 năm qua, Kourouche luôn là những người xếp hàng đầu để mua những chiếc iPhone mới
                    cho kênh YouTueb của mình. Ngày 21/9, Kourouche là người đầu tiên trong hàng đặt trước chờ mua
                    iPhone XS, iPhone XS Max và Apple Watch Series 4. Thanh niên này dự định cũng mua một chiếc iPhone
                    XR khi nó được mở bán.
                </p>
                <p class="eachpost-writer"> NGUYỄN THÙY NHIÊN </p>
            </div>
        </div>

        <div class="eachpost-mycomment">
            <form role="form" method="POST" action="">
                <div class="row mycomment-margin">
                    <div class="col-md-6 mycomment-avatarandname">
                        <img class="avatar" src="/img/general/avatar-default.png" alt="Ảnh đại diện">
                        <p class="mycomment-name"> Trần Hạo Nam </p>
                    </div>
                </div>
                <div class="row mycomment-margin">
                    <div class="col-md-12">
                        <textarea name="comment" class="form-control form-text-size" type="text"
                            placeholder="Bạn nghĩ gì về tin này?"></textarea>
                    </div>
                </div>
                <div class="row mycomment-margin mycomment-buttonsend">
                    <a href="#" class="giris-yap-buton"> Gửi bình luận </a>
                </div>
            </form>
        </div>

        <div class="row eachpost-bottom">
            <div class="col-md-8 eachpost-othercomments">
                <div class="row othercomments-title">
                    Ý KIẾN BẠN ĐỌC
                </div>
                <div class="row othercomments-part">
                    <div class="col-md-1 othercomments-avatar">
                        <img class="style-avatar" src="/img/avatar-black.png">
                    </div>
                    <div class="col-md-11">
                        <p class="othercomments-accountname"> Nguyễn Văn A </p>
                        <p class="othercomments-content">
                            Em trai của ông Vượng, là người theo đạo phật, cũng ở bên nga về, làm bên ngành viễn thông,
                            ông chủ của AVG, mới đây ông này cùng với một tập đoàn bên nga ký hợp đồng xây dựng đường
                            ray tàu hỏa để vận chuyển quặng bô-xít từ bình phước ra vũng tàu. Ông là người ít nói nhưng
                            rất có tiếng trong giới doanh nhân.
                        </p>
                        <p class="othercomments-date"> 01/04/2019 </p>
                    </div>
                </div>
                <div class="row othercomments-part">
                    <div class="col-md-1 othercomments-avatar">
                        <img class="style-avatar" src="/img/avatar-black.png">
                    </div>
                    <div class="col-md-11">
                        <p class="othercomments-accountname"> Nguyễn Văn A </p>
                        <p class="othercomments-content">
                            Em trai của ông Vượng, là người theo đạo phật, cũng ở bên nga về, làm bên ngành viễn thông,
                            ông chủ của AVG, mới đây ông này cùng với một tập đoàn bên nga ký hợp đồng xây dựng đường
                            ray tàu hỏa để vận chuyển quặng bô-xít từ bình phước ra vũng tàu. Ông là người ít nói nhưng
                            rất có tiếng trong giới doanh nhân.
                        </p>
                        <p class="othercomments-date"> 01/04/2019 </p>
                    </div>
                </div>
                <div class="row othercomments-part">
                    <div class="col-md-1 othercomments-avatar">
                        <img class="style-avatar" src="/img/avatar-black.png">
                    </div>
                    <div class="col-md-11">
                        <p class="othercomments-accountname"> Nguyễn Văn A </p>
                        <p class="othercomments-content">
                            Em trai của ông Vượng, là người theo đạo phật, cũng ở bên nga về, làm bên ngành viễn thông,
                            ông chủ của AVG, mới đây ông này cùng với một tập đoàn bên nga ký hợp đồng xây dựng đường
                            ray tàu hỏa để vận chuyển quặng bô-xít từ bình phước ra vũng tàu. Ông là người ít nói nhưng
                            rất có tiếng trong giới doanh nhân.
                        </p>
                        <p class="othercomments-date"> 01/04/2019 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row row-margin eachpost-samecategory">
                    <div class="col-md-12 line-top"></div>
                    <div class="col-md-12 title-left"> CÙNG CHUYÊN MỤC </div>
                    <div class="col-md-12 line-bottom-title"></div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                    <div class="row row-margin" style="margin: 15px 0 !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="img/image-post.png" width="100%"
                                style="border-radius: 5px"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">Hàng nghìn người đổ xô mua
                            iPhone 5.000Đ làm ùn tắc giao thông</div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Footer --}}
        {{> footer}}

    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>