<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/forget-password.css">
    <title> HNNews - Quên mật khẩu</title>
</head>

<body>
    {{!-- Nav --}}
    {{>nav}}

    {{!-- Container --}}
    <div class="container">
        <div id="scroll-smooth"></div>

        <div class="content">
            <div>
                <img src="/img/undraw/undraw-forgetpassword.png" alt="forget-password" width="100%" height="100%">
            </div>

            <div>
                <p class="text-forget">
                    QUÊN MẬT KHẨU
                </p>
            </div>

            <div class=" row line-forget"></div>

            {{!-- <div class="text-content">Nhập <strong style="color: black">tên tài khoản</strong> của bạn</div>

        <div class="login-card">
            <form id="login-form" class="col-lg-12">
                <div style="clear:both;"></div>
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label><span class="span-input">Tên đăng nhập</span></label>
                </div>

                <a href="#" class="giris-yap-buton">Tiếp theo</a>

            </form>
        </div> --}}
            {{!-- 
        <div class="text-content">Nhập <strong style="color: black">email</strong> của bạn để nhận mã xác nhận</div>

        <div class="login-card">
            <form id="login-form" class="col-lg-12">
                <div style="clear:both;"></div>
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label><span class="span-input">Địa chỉ email</span></label>
                </div>

                <a href="#" class="giris-yap-buton">Tiếp theo</a>

            </form>
        </div> --}}


            {{!-- <div class="text-content">Nhập <strong style="color: black">mã xác nhận OTP</strong> được gửi trong mail</div> --}}

            {{!-- <div class="login-card">
            <form id="login-form" class="col-lg-12">
                <div style="clear:both;"></div>
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label><span class="span-input">Mã xác nhận OTP</span></label>
                </div>

                <a href="#" class="giris-yap-buton">Xác nhận</a>

            </form>
        </div> --}}

            <div class="text-content"><strong style="color: black">Password</strong> hiện tại của bạn là</div>
            <div class="box-content">conheocon123</div>
            <a href="#" class="giris-yap-buton">Xác nhận</a>
        </div>
    </div>

    {{!-- Footer --}}
    {{>footer}}

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- Script --}}
    <script>
        $(document).ready(function () {
            // Auto scroll to top
            $(window).scrollTop(0);
            $(".menu").hide();
            $(".line-under-menu").hide();

            $(window).scroll(function () {
                if ($(window).scrollTop() > 27) {
                    $("#scroll-smooth").css("display", "block");
                    $("#scroll-nav").addClass("position-fixed");
                    $("#scroll-nav").addClass("bootstrap-position-fixed");
                }
                else {
                    $("#scroll-smooth").css("display", "none");
                    $("#scroll-nav").removeClass("position-fixed");
                    $("#scroll-nav").removeClass("bootstrap-position-fixed");
                }
            });
        })
    </script>
</body>

</html>