<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title> HNNews - Trang chủ </title>
</head>

<body>
    {{!-- Navigation bar --}}
    {{> nav}}

    {{!-- Menu bar --}}
    {{!-- {{> menu}} --}}

    <div class="container">
        {{!-- Body detail --}}
        {{!-- <img src="/img/HomePage.png" width="100%"> --}}
        <div id="scroll-smooth"></div>

        <div id="id-highlight-new" class="row highlight-new">
            <div class="col-md-3 align-middle">
                <div class="highlight-left-text"> TIN NỔI BẬT </div>
                <div class="row highlight-left-line-1"></div>
                <div class="row highlight-left-line-2"></div>
                <div class="row highlight-left-line-3"></div>
                <img class="highlight-left-pic" src="/img/general/highlight-left-pic.png">
            </div>
            <div class="col-md-9 align-middle" style="padding: 0px 40px;">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/image-post.png" class="d-block w-100 highlight-right-pic" alt="...">
                            <div class="transparent"></div>
                            <div class="carousel-caption d-none d-md-block top">
                                <p>Phim ảnh</p>
                            </div>
                            <div class="carousel-caption d-none d-md-block center">
                                <p>Game Of Thrones trở lại mạnh mẽ vào 14/04/2019</p>
                            </div>
                            <div class="carousel-caption d-none d-md-block bottom">
                                <p>20/01/2019</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/image-post.png" class="d-block w-100 highlight-right-pic" alt="...">
                            <div class="transparent"></div>
                            <div class="carousel-caption d-none d-md-block top">
                                <p>Xe cộ</p>
                            </div>
                            <div class="carousel-caption d-none d-md-block center">
                                <p>Vinfast tung ra 1678 mẫu, thắng mạnh trong làng xe
                                    hơi thế giới</p>
                            </div>
                            <div class="carousel-caption d-none d-md-block bottom">
                                <p>13/04/2019</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/image-post.png" class="d-block w-100 highlight-right-pic" alt="...">
                            <div class="transparent"></div>
                            <div class="carousel-caption d-none d-md-block top">
                                <p>Thế giới</p>
                            </div>
                            <div class="carousel-caption d-none d-md-block center">
                                <p>Chán thiệt chứ, không hiểu nổi đang xảy ra gì luôn á
                                </p>
                            </div>
                            <div class="carousel-caption d-none d-md-block bottom">
                                <p>25/05/2019</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row ctn-line-under"></div>

        <div class="row main-new">
            {{!-- Content-left --}}
            <div class="col-md-9">
                {{!-- Newest posts --}}
                <div id="id-newest-post" class="row row-margin newest-post">
                    <div class="col-md-5 newest-post-title">
                        <p class="newest-post-title-text"> BÀI VIẾT MỚI NHẤT </p>
                    </div>
                    <div class="col-md-7">
                        <div class="line-continue"></div>
                    </div>
                </div>

                <div class="row row-margin newest-post-content">
                    <div class="col-md-5 newest-post-content-pic">
                        <img class="content-pic-pic" src="/img/home-image.png">
                        <div class="content-pic-transparent"></div>
                        <p class="content-pic-category"> Chuyên mục: Du lịch - Thế giới </p>
                        <a class="content-pic-info" href=""> Xem chi tiết </a>
                    </div>
                    <div class="col-md-7 newest-post-content-detail">
                        <p class="content-detail-title"> Tham quan du lịch quần đảo Hawaii - Hòn ngọc trên Thái Bình
                            Dương </p>
                        <p class="content-detail-number"> 21/02/2019 - 1.687 lượt xem </p>
                    </div>
                </div>

                <div class="row row-margin newest-post-content">
                    <div class="col-md-5 newest-post-content-pic">
                        <img class="content-pic-pic" src="/img/home-image.png">
                        <div class="content-pic-transparent"></div>
                        <p class="content-pic-category"> Chuyên mục: Du lịch - Thế giới </p>
                    </div>
                    <div class="col-md-7 newest-post-content-detail">
                        <p class="content-detail-title"> Tham quan du lịch quần đảo Hawaii - Hòn ngọc trên Thái Bình
                            Dương </p>
                        <p class="content-detail-number"> 21/02/2019 - 1.687 lượt xem </p>
                    </div>
                </div>

                <div class="row row-margin newest-post-content">
                    <div class="col-md-5 newest-post-content-pic">
                        <img class="content-pic-pic" src="/img/home-image.png">
                        <div class="content-pic-transparent"></div>
                        <p class="content-pic-category"> Chuyên mục: Du lịch - Thế giới </p>
                    </div>
                    <div class="col-md-7 newest-post-content-detail">
                        <p class="content-detail-title"> Tham quan du lịch quần đảo Hawaii - Hòn ngọc trên Thái Bình
                            Dương </p>
                        <p class="content-detail-number"> 21/02/2019 - 1.687 lượt xem </p>
                    </div>
                </div>

                {{!-- Viewest posts --}}
                <div id="id-viewest-post" class="row row-margin viewest-post">
                    <div class="col-md-5 newest-post-title">
                        <p class="viewest-post-title-text"> BÀI VIẾT XEM NHIỀU NHẤT </p>
                    </div>
                    <div class="col-md-7">
                        <div class="line-continue"></div>
                    </div>
                </div>

                <div class="row row-margin newest-post-content">
                    <div class="col-md-5 newest-post-content-pic">
                        <img class="content-pic-pic" src="/img/home-image.png">
                        <div class="content-pic-transparent"></div>
                        <p class="content-pic-category"> Chuyên mục: Du lịch - Thế giới </p>
                    </div>
                    <div class="col-md-7 newest-post-content-detail">
                        <p class="content-detail-title"> Tham quan du lịch quần đảo Hawaii - Hòn ngọc trên Thái Bình
                            Dương </p>
                        <p class="content-detail-number"> 21/02/2019 - 1.687 lượt xem </p>
                    </div>
                </div>

                <div class="row row-margin newest-post-content">
                    <div class="col-md-5 newest-post-content-pic">
                        <img class="content-pic-pic" src="/img/home-image.png">
                        <div class="content-pic-transparent"></div>
                        <p class="content-pic-category"> Chuyên mục: Du lịch - Thế giới </p>
                    </div>
                    <div class="col-md-7 newest-post-content-detail">
                        <p class="content-detail-title"> Tham quan du lịch quần đảo Hawaii - Hòn ngọc trên Thái Bình
                            Dương </p>
                        <p class="content-detail-number"> 21/02/2019 - 1.687 lượt xem </p>
                    </div>
                </div>

                {{!-- Top 10 posts --}}
                <div id="id-top10-post" class="row row-margin top10-post">
                    <div class="col-md-5 newest-post-title">
                        <p class="top10-post-title-text"> TOP 10 CHUYÊN MỤC </p>
                    </div>
                    <div class="col-md-7">
                        <div class="line-continue"></div>
                    </div>
                </div>

                <div class="row row-margin top10-post-content">
                    <div class="col-md-6 top10-post-content-detail">
                        <div class="row row-margin top10-post-content-part">
                            <div class="line-left"></div>
                            <div class="top10-post-content-title">
                                GIAO THÔNG
                            </div>
                        </div>
                        <div class="row row-margin top10-post-content-part">
                            <img class="top10-post-content-pic" src="/img/image-post.png">
                            <div class="top10-post-content-transparent"></div>
                            <div class="col-md-12">
                                <p class="top10-post-content-category"> Chuyên mục: Giao thông </p>
                            </div>
                        </div>
                        <div class="row row-margin top10-post-content-part">
                            <p class="top10-post-content-text"> Hàng nghìn người đổ xô đi mua iPhone 5.000 VNĐ làm ùn
                                tắc giao thông </p>
                            <p class="top10-post-content-number"> 01/04/2019 - 13.135 lượt xem </p>
                        </div>
                    </div>
                    <div class="col-md-6 top10-post-content-detail">
                        <div class="row row-margin top10-post-content-part">
                            <div class="line-left"></div>
                            <div class="top10-post-content-title">
                                CÔNG NGHỆ
                            </div>
                        </div>
                        <div class="row row-margin top10-post-content-part">
                            <img class="top10-post-content-pic" src="/img/tech-image.png">
                            <div class="top10-post-content-transparent"></div>
                            <div class="col-md-12">
                                <p class="top10-post-content-category"> Chuyên mục: Công nghệ </p>
                            </div>
                        </div>
                        <div class="row row-margin top10-post-content-part">
                            <p class="top10-post-content-text"> Chuyện kể rằng ngày xửa ngày xưa, trong khu rừng có một
                                con mắt </p>
                            <p class="top10-post-content-number"> 12/03/2019 - 987 lượt xem </p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Content-right --}}
            <div class="col-md-3">
                <div class="row row-margin content-right">
                    <div class="col-md-12 line-top"></div>
                    <div class="col-md-12 title-left">CÁC NHÃN DÁN</div>
                    <div class="col-md-12 line-bottom-title"></div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                        <div class="col-md-6 img-hash">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                            <div class="text2-hash">#giaitri</div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important; margin-bottom: 15px !important">
                        <div class="col-md-6 img-hash" style="padding-right: 7px">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                        </div>
                        <div class="col-md-6 img-hash" style="padding-right: 7px">
                            <img src="img/hashtag-pic.png" width="90%" style="border-radius: 5px">
                            <div class="text-hash">GIẢI TRÍ</div>
                        </div>
                    </div>
                    <a href="#" class="giris-yap-buton"> XEM TẤT CẢ </a>
                </div>
            </div>
        </div>

        <div class="row ctn-line-under"></div>

        <div class="row statistic">
            <div class="col-md-4">
                <div class="row statistic-detail">
                    <div class="col-md-3 statistic-left">
                        <img class="statistic-pic" src="/img/general/icon-statistic/statistic-01.png">
                    </div>
                    <div class="col-md-9 statistic-right">
                        <p class="statistic-title"> Tài khoản </p>
                        <p class="statistic-number"> 20.456 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row statistic-detail">
                    <div class="col-md-3 statistic-left">
                        <img class="statistic-pic" src="/img/general/icon-statistic/statistic-02.png">
                    </div>
                    <div class="col-md-9 statistic-right">
                        <p class="statistic-title"> Lượt xem </p>
                        <p class="statistic-number"> 32.054.988 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row statistic-detail">
                    <div class="col-md-3 statistic-left">
                        <img class="statistic-pic" src="/img/general/icon-statistic/statistic-03.png">
                    </div>
                    <div class="col-md-9 statistic-right">
                        <p class="statistic-title"> Bài viết </p>
                        <p class="statistic-number"> 687.213 </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-fixed rscr-btn">
            <img src="/img/scrollbar/rscr-btn.png">
        </div>

        <div class="position-fixed lscr-bar">
            <div class="lscr lscr-best lscr-checked" href="#id-highlight-new">
                <img class="lscr-img" src="/img/scrollbar/lscr-best-checked.png">
                <p class="lscr-title"> Nổi bật </p>
            </div>
            <div class="lscr-line-between"></div>
            <div class="lscr lscr-new" href="#id-newest-post">
                <img class="lscr-img" src="/img/scrollbar/lscr-new.png">
                <p class="lscr-title"> Mới nhất </p>
            </div>
            <div class="lscr-line-between"></div>
            <div class="lscr lscr-view" href="#id-viewest-post">
                <img class="lscr-img" src="/img/scrollbar/lscr-view.png">
                <p class="lscr-title"> Lượt xem </p>
            </div>
            <div class="lscr-line-between"></div>
            <div class="lscr lscr-category" href="#id-top10-post">
                <img class="lscr-img" src="/img/scrollbar/lscr-category.png">
                <p class="lscr-title"> Top 10 </p>
            </div>
        </div>

        {{!-- Footer --}}
        {{> footer}}

    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- JavaScript --}}
    <script>
        $(document).ready(function () {
            // Auto scroll to top
            $(window).scrollTop(0);

            $(window).scroll(function () {
                if ($(window).scrollTop() > 27) {
                    $("#scroll-smooth").css("display", "block");
                    $("#scroll-nav").addClass("position-fixed");
                    $("#scroll-nav").addClass("bootstrap-position-fixed");
                    $(".menu").addClass("menu-scroll");
                    $(".line-under-menu").hide();
                    $(".shadowbox-nav").hide();
                    $(".menu-link").hover(function () {
                        $(this).css("color", "blue");
                        $(this).css("font-weight", "700");
                    }, function () {
                        $(this).css("color", "rgb(86, 86, 86)");
                        $(this).css("font-weight", "500");
                    });
                }
                else {
                    $("#scroll-smooth").css("display", "none");
                    $("#scroll-nav").removeClass("position-fixed");
                    $("#scroll-nav").removeClass("bootstrap-position-fixed");
                    $(".menu").removeClass("menu-scroll");
                    $(".line-under-menu").show();
                    $(".shadowbox-nav").show();
                    $(".menu-link").hover(function () {
                        $(this).css("color", "black");
                    }, function () {
                        $(this).css("color", "rgb(86, 86, 86)");
                    });
                }
            });

            $(".rscr-btn").hide();
            $(window).scroll(function () {
                if ($(window).scrollTop() > 400) {
                    $(".rscr-btn").show();
                }
                else {
                    $(".rscr-btn").hide();
                }
            });

            $(".rscr-btn").click(function () {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("body").offset().top
                }, 1000);
            });

            $(".lscr").click(function (e) {
                var jump = $(this).attr('href');
                var new_position = $(jump).offset();
                $('html, body').stop().animate({ scrollTop: new_position.top - 130 }, 1000);
                e.preventDefault();
            });

            $(".lscr").hover(function () {
                if ($(this).hasClass("lscr-checked") === false) {
                    var x = $(this).children("img").attr("src");
                    var y = x.substr(-4, 4);
                    var z = x.replace(y, '-checked.png');
                    $(this).children("img").attr("src", z);
                    $(this).children("p").addClass("lscr-checked");
                }
            }, function () {
                if ($(this).hasClass("lscr-checked") === false) {
                    var x = $(this).children("img").attr("src");
                    var y = x.substr(-12, 12);
                    var z = x.replace(y, '.png');
                    $(this).children("img").attr("src", z);
                    $(this).children("p").removeClass("lscr-checked");
                }
            });

            $(".lscr").click(function () {
                if ($(this).hasClass("lscr-checked") === false) {
                    /* Minus checked for image checked */
                    var x = $(".lscr-bar").children(".lscr-checked").children("img").attr("src");
                    var y = x.substr(-12, 12);
                    var z = x.replace(y, '.png');
                    $(".lscr-bar").children(".lscr-checked").children("img").attr("src", z);
                    $(".lscr-bar").children(".lscr-checked").removeClass("lscr-checked");

                    /* Add checked for image not checked */
                    $(this).addClass("lscr-checked");
                }
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() > 432) {

                } else if ($(window).scrollTop() > 1073) {

                } else if ($(window).scrollTop() > 1480) {

                } else {

                }
            });
        })
    </script>

</body>

</html>