<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <title>HNNews - Đăng ký</title>
</head>

<body>
    {{>nav}}
    <div class="content">
        <div class="row" style="margin: 0px">
            <div class="col-sm-4" style="padding-left: 0px">
                <div>
                    <p class="text-login">
                        ĐĂNG KÝ
                    </p>
                </div>

                <div class="line-login"></div>

                <div class="text-content">
                    <p style="color: grey"> Chào mừng bạn đến với Website Báo điện tử <strong>HN News</strong>.<strong>
                            Đăng
                            nhập</strong> để trải
                        nghiệm nhiều tính năng của website.</p>
                </div>

                <div class="login-card">
                    <form id="login-form" class="col-lg-12">
                        <div style="clear:both;"></div>
                        <div class="group">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><span class="span-input">Tên đăng nhập</span></label>
                        </div>
                        <div class="group">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><span class="span-input">Họ tên người dùng</span></label>
                        </div>
                        <div class="group">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><span class="span-input">Email</span></label>
                        </div>
                        <div class="group">
                            <input type="password" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><span class="span-input">Mật khẩu</span></label>
                        </div>
                        <div class="row login" style="width:100%; margin:0px 0px 20px 0px">
                            Đã có tài khoản?<a href="/login"> Đăng nhập</a>
                        </div>

                        <a href="#" class="giris-yap-buton">Đăng ký</a>

                    </form>
                </div>
            </div>
            <div class="col-sm-8 img-background">
                <img src="/img/undraw/undraw-register.png" width="100%">
            </div>
        </div>
    </div>

    {{!-- Footer --}}
    {{>footer}}

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>