<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <title> HNNews - Đăng ký </title>
</head>

<body>
    {{!-- Nav --}}
    {{>nav}}

    {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show popupregister-background" role="alert">
        <div class="col-md-12 noti-popupregister">
            <p class="popup-title"> THÔNG BÁO LỖI </p>
            <p class="popup-content"> {{{err_message}}} </p>
            <button type="button" class="btn btn-dark close-btn"> Đóng </button>
        </div>
    </div>
    {{/if}}

    <div class="container">
        <div id="scroll-smooth"></div>

        <div class="content">
            <div class="row" style="margin: 0px">
                <div class="col-sm-4" style="padding-left: 0px">
                    <div>
                        <p class="text-login">
                            ĐĂNG KÝ
                        </p>
                    </div>

                    <div class="line-login"></div>

                    <div class="text-content">
                        <p style="color: grey"> Chào mừng bạn đến với Website Báo điện tử <strong>HN
                                News</strong>.<strong>
                                Đăng
                                ký</strong> để trải
                            nghiệm nhiều tính năng của website.</p>
                    </div>

                    <div class="login-card">
                        <form id="register-form" class="col-lg-12">
                            <div style="clear:both;"></div>
                            <div class="group">
                                <input type="text" id="register-username" name="registerusername">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><span class="span-input">Tên đăng nhập</span></label>
                            </div>
                            <div class="group">
                                <input type="text" id="register-fullname" name="registerfullname">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><span class="span-input">Họ tên người dùng</span></label>
                            </div>
                            <div class="group">
                                <input type="email" id="register-email" name="registeremail">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><span class="span-input">Email</span></label>
                            </div>
                            <div class="group">
                                <input type="password" id="register-password" name="registerpassword">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><span class="span-input">Mật khẩu</span></label>
                            </div>
                            <div class="row login" style="width:100%; margin:0px 0px 20px 0px">
                                Đã có tài khoản?&nbsp; <a class="btn-login-other" href="/dangnhap"> Đăng nhập</a>
                            </div>

                            <a role="button" id="btn-register" class="giris-yap-buton">Đăng ký</a>
                        </form>
                    </div>
                </div>
                <div class="col-sm-8 img-background">
                    <img src="/img/undraw/undraw-register.png" width="100%">
                </div>
            </div>

            <div class="row popup-notificationSuccess">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO </p>
                    <p class="popup-content"> Tạo <span style="color: rgb(40, 200, 0)">thành
                            công</span> tài khoản mới.</p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
            <div class="row popup-notificationFailBoth">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                        do username và email đã tồn tại.</p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
            <div class="row popup-notificationFailUserName">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                        do username đã tồn tại.</p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
            <div class="row popup-notificationFailEmail">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                        do email đã tồn tại.</p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
            <div class="row popup-notificationFailFull">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                        do chưa nhập đầy đủ thông tin.</p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
        </div>

        {{!-- Footer --}}
        {{>footer}}

    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- JQuery Validation --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    {{!-- Script --}}
    <script>
        $(document).ready(function () {
            // Auto scroll to top
            $(window).scrollTop(0);
            $(".menu").hide();
            $(".line-under-menu").hide();
            $(".up-nav").hide();

            $(".close-btn").click(function () {
                $(".popupregister-notification").hide();
                $(".popup-notificationFailBoth").hide();
                $(".popup-notificationFailEmail").hide();
                $(".popup-notificationFailUserName").hide();
                $(".popup-notificationFailFull").hide();
            });

            $(".popup-notificationSuccess").children("div").children("button").click(function () {
                $(".popup-notificationSuccess").hide();
                window.location.href = '/dangnhap';
            })

            $("#register-form").validate({
                rules: {
                    registerusername: {
                        required: true,
                        maxlength: 50
                    },
                    registerfullname: {
                        required: true,
                        maxlength: 100
                    },
                    registeremail: {
                        required: true,
                        email: true,
                        maxlength: 100
                    },
                    registerpassword: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    registerusername: {
                        required: 'Không được để trống tên đăng nhập',
                        maxlength: 'Tên đăng nhập chỉ tối đa 50 kí tự'
                    },
                    registeremail: {
                        required: 'Không được để trống email',
                        email: 'Email phải nhập đúng cấu trúc',
                        maxlength: 'Email chỉ tối đa 100 kí tự'
                    },
                    registerfullname: {
                        required: 'Không được để trống họ tên',
                        maxlength: 'Họ tên chỉ tối đa 100 kí tự'
                    },
                    registerpassword: {
                        required: 'Không được để trống mật khẩu',
                        minlength: 'Mật khẩu phải có ít nhất 6 kí tự'
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });

            function btnregisterClick() {
                // Create parameter
                var username = $("#register-username").val();
                var fullname = $("#register-fullname").val();
                var email = $("#register-email").val();
                var pass = $("#register-password").val();
                // Final action
                $.post("/dangky/taotaikhoan",
                    {
                        username: username,
                        fullname: fullname,
                        email: email,
                        pass: pass
                    },
                    function (result) {
                        if (result === "FailBoth") {
                            $(".popup-notificationFailBoth").show();
                        } else if (result === "FailEmail") {
                            $(".popup-notificationFailEmail").show();
                        } else if (result === "FailUserName") {
                            $(".popup-notificationFailUserName").show();
                        } else if (result === "FailFull") {
                        } else {
                            $(".popup-notificationSuccess").show();
                        }
                    });
            }

            $("#btn-register").click(function () {
                btnregisterClick();
            })
        })
    </script>
</body>

</html>