<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/result-search.css">
    <title>HNNews - Kết quả tìm kiếm</title>
</head>

<body>
    <div class="container">

        {{!-- Nav --}}
        {{>nav}}

        {{!-- Menu --}}
        {{>menu}}
        <div class="content">
            <div class="row row-margin">
                <div class="col-md-9">
                    <div class="row text-row row-margin" style="padding: 8px 0px">
                        <div class="col-md-6 text-left">
                            <div class="line-left"></div>
                            <div style="font-weight:700; line-height: 24px">
                                KẾT QUẢ TÌM KIẾM
                            </div>
                        </div>
                        <div class="col-md-6 text-right" style="font-size: 11pt; line-height: 24px">18.023 kết quả</div>
                    </div>
                    <div class="row row-margin" style="margin-top: 15px !important">
                        <form class="col-md-12" style="padding: 0">
                            <input class="input-search" type="text" placeholder="Nhập nội dung tìm kiếm..."
                                name="search">
                            <button class="btn-search" type="submit">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="row row-margin" style="margin-top: 35px !important">
                        <div class="col-md-5" style="padding: 0">
                            <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                        </div>
                        <div class="col-md-7 post-flex">
                            <div>
                                <div class="title-post text-left">
                                    Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                                </div>
                                <div class="post-date text-left">
                                    01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                        THÔNG</strong>
                                </div>
                                <div class="post-summary text-left">
                                    Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone
                                    các
                                    phiên bản.
                                </div>
                            </div>
                            <div class="post-hastag text-left">
                                #giaothong, #apple, #iphone, #tphcm
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 35px !important">
                        <div class="col-md-5" style="padding: 0">
                            <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                        </div>
                        <div class="col-md-7 post-flex">
                            <div>
                                <div class="title-post text-left">
                                    Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                                </div>
                                <div class="post-date text-left">
                                    01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                        THÔNG</strong>
                                </div>
                                <div class="post-summary text-left">
                                    Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone
                                    các
                                    phiên bản.
                                </div>
                            </div>
                            <div class="post-hastag text-left">
                                #giaothong, #apple, #iphone, #tphcm
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 35px !important">
                        <div class="col-md-5" style="padding: 0">
                            <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                        </div>
                        <div class="col-md-7 post-flex">
                            <div>
                                <div class="title-post text-left">
                                    Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                                </div>
                                <div class="post-date text-left">
                                    01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                        THÔNG</strong>
                                </div>
                                <div class="post-summary text-left">
                                    Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone
                                    các
                                    phiên bản.
                                </div>
                            </div>
                            <div class="post-hastag text-left">
                                #giaothong, #apple, #iphone, #tphcm
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 35px !important">
                        <div class="col-md-5" style="padding: 0">
                            <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                        </div>
                        <div class="col-md-7 post-flex">
                            <div>
                                <div class="title-post text-left">
                                    Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                                </div>
                                <div class="post-date text-left">
                                    01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                        THÔNG</strong>
                                </div>
                                <div class="post-summary text-left">
                                    Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone
                                    các
                                    phiên bản.
                                </div>
                            </div>
                            <div class="post-hastag text-left">
                                #giaothong, #apple, #iphone, #tphcm
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" style="margin-top: 35px !important">
                        <div class="col-md-5" style="padding: 0">
                            <img src="img/image-post.png" width="100%" style="border-radius: 5px">
                        </div>
                        <div class="col-md-7 post-flex">
                            <div>
                                <div class="title-post text-left">
                                    Hàng nghìn người đổ xô mua iPhone 5.000Đ làm ùn tắc giao thông
                                </div>
                                <div class="post-date text-left">
                                    01/04/2019 - 13.135 lượt xem - <strong style="font-size: 12pt; color:black">GIAO
                                        THÔNG</strong>
                                </div>
                                <div class="post-summary text-left">
                                    Vào ngày 30/03 vừa rồi, hãng điện thoại lừng danh Apple công bố xả hàng triệu iPhone
                                    các
                                    phiên bản.
                                </div>
                            </div>
                            <div class="post-hastag text-left">
                                #giaothong, #apple, #iphone, #tphcm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row row-margin content-right">
                        <div class="col-md-12 line-top"></div>
                        <div class="col-md-12 title-left">BỘ LỌC</div>
                        <div class="col-md-12 line-bottom-title"></div>
                        <div class="radio-group">
                            <div class="col-md-12 filter-title">THỜI GIAN ĐĂNG</div>
                            <div class="co-md-12 input-radio">
                                <label><input type="radio" name="exampleRadios" value="option1"> Tất cả</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Hôm nay</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> 7 ngày trước</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> 30 ngày trước</label>
                            </div>
                        </div>
                        <div class="radio-group">
                            <div class="col-md-12 filter-title">CHUYÊN MỤC</div>
                            <div class="co-md-12 input-radio">
                                <label><input type="radio" name="exampleRadios" value="option1"> Tấtcả</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Giải trí</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Giáo dục</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Giao thông</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Du lịch</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Đời sống</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Công nghệ</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Xe cộ</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Thế giới</label>
                            </div>
                        </div>
                        <div class="radio-group">
                            <div class="col-md-12 filter-title">CHẾ ĐỘ</div>
                            <div class="co-md-12 input-radio">
                                <label><input type="radio" name="exampleRadios" value="option1"> Bài viết</label>
                                <label><input type="radio" name="exampleRadios" value="option1"> Nhãn dán</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="img/scroll-to-top.png" alt="" class="scroll-to-top">

        {{!-- Footer --}}
        {{>footer}}

    </div>
</body>

</html>